<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_names, "Client" %><br>
    <%= select("invoice", "client_id", @client_names_with_ids, {include_blank: 'None'}) %>
  </div>
  <div class="field">
    <%= f.label :purchase_date %><br>
    <%= f.date_select :purchase_date %>
  </div>
  <div class="field">
    <%= f.label :issue_date %><br>
    <%= f.date_select :issue_date %>
  </div>
  <div class="field">
    <%= f.label :payment_period %><br>
    <%= f.text_field :payment_period %>
  </div>
  <div class="field">
    <%= f.label :invoice_number %><br>
    <%= f.number_field :invoice_number %>
    <font color="red" size="4">*</font>
  </div>
  <br />

  <fieldset class="grouping">
    <legend class="grouping">Items</legend>
    <table id="invoice_items" class="table table-striped">
      <th>Name</th>
      <th>Price</th>
      <% if @invoice.invoice_items.empty? %>
          <%= render "invoice_items/invoice_item", :f => f %>
      <% else %>
        <%= f.fields_for :invoice_items, 
             @invoice.invoice_items do |invoice_item| %>
          <tr>
            <td>
              <div class="field">
                <%= invoice_item.text_field :name %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= invoice_item.number_field :price %>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <%= link_to "Add Item", ajax_new_invoice_items_path , remote: true %>
  </fieldset>
  <br />

  <fieldset class="grouping">
    <legend class="grouping">Note</legend>
    <div id="invoice_note">
      <% if @invoice.invoice_note.nil? %>
          <%= link_to "Add Note", ajax_new_invoice_notes_path, remote: true %>
      <% else %>
        <%= f.fields_for :invoice_note, 
             @invoice.invoice_note do |invoice_note| %>
          <tr>
            <td>
              <div class="field">
                <%= invoice_note.text_area :content, :cols => "65", :rows => "5" %>
              </div>
            </td>
          </tr>
        <% end %>
          <a id="remove_note" href="#">Remove Note</a>
      <% end %>
    </div>
  </fieldset>
  <br />

  <div class="actions">
    <%= f.submit %>
  </div>
  <br />

<% end %>
