<h1>Listing invoices</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Purchase date</th>
      <th>Issue date</th>
      <th>Payment period</th>
      <th>Invoice number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @invoices, class: "listing_invoice") do |invoice| %>
      <%= div_for(invoice, class: "listing_invoice") do %>
        <td><%= invoice.purchase_date %></td>
        <td><%= invoice.issue_date %></td>
        <td><%= invoice.payment_period %></td>
        <td><%= invoice.invoice_number %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, remote: true, 
          class: "delete_invoice", data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
